* {
    font-size: large;
}
body {
    background-color: rgb(200,200,200);
}

.bg {
    background-color: rgb(145, 145, 145);
    color: rgba(145, 145, 145);
    font-size:5px;
}

.container {
    background-color: rgb(240,240,240);
    padding: 50px;
}

form {
    padding: 20px;
    background-color: rgb(255,255,255);
}



