* {
  font-size: large;
}

body {
  background-color: rgb(108, 133, 143);
}

h5 {
  padding-bottom: 10px;
  padding-top: 30px;
}

p {
  text-align: justify;
  text-justify: inter-character;
}

.container {
  background-color: rgb(240,240,240,.9);
  padding: 30px;
}

.image {
  max-width: 75%;
}

form {
  padding: 20px;
  background-color: rgb(255,255,255);
}