* {
  font-size: large;
  text-align: center;
}

body {
  background-color: rgb(108, 133, 143);
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: justify;
  background-color:  rgb(240,240,240,.2);
}

h5 {
  font-size:xx-large;
  padding-bottom: 3%;
  text-align: center;
  background-color:  rgb(240,240,240,.2);
}

p {
  text-align: justify;
 
}

.container {
  background-color: rgb(240,240,240);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 25px;
}

.img {
  max-width: 40%;
  border-radius: 15px;
  border: 1px solid;
}

.btn {
  width: 50%;
  background-color:#49515a;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(240,240,240,.9);
  padding: 5px;
  margin-bottom: 5%;

}

.contactBtn {
  width: 50%;
  background-color:#49515a;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(240,240,240,.9);
  padding: 5px;

}

.resumeBtn {
  width: 100%;
  background-color:#49515a;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(240,240,240,.9);
  padding: 5px;
  margin-bottom: 5%;

}

.portfolioImg {
  max-height: 50%;
  max-width: 50%;
  border-radius: 15px;
}

.email {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  p {
    word-break: break-all;
  }
}