* {
  font-size: large;
  text-align: center;
}

body {
  background: rgb(0,60,82);
  background: linear-gradient(0deg, rgba(0,60,82,1) 0%, rgba(75,143,167,1) 50%, rgba(174,219,235,1) 100%);
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: justify;
}

h5 {
  font-size:xx-large;
  padding-bottom: 3%;
  text-align: center;
}

p {
  text-align: center;
  max-width: 100%;
}

.container {
  background-color: rgb(255, 255, 255, .8);
  border-radius: 15px;
  padding: 3%;
}

.me {
  max-width:40%;
  border-radius: 15px;
  border: 1px solid;
}

.btn {
  width: 50%;
  background: rgb(0,60,82);
  background: linear-gradient(0deg, rgba(0,60,82,1) 0%, rgba(75,143,167,1) 60%, rgba(174,219,235,1) 100%);
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(240,240,240,.9);
  padding: 1%;

}

.contactBtn {
  width: 50%;
  background: rgb(0,60,82);
  background: linear-gradient(0deg, rgba(0,60,82,1) 0%, rgba(75,143,167,1) 60%, rgba(174,219,235,1) 100%);
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(240,240,240,.9);
  padding: 1%;

}

.resumeBtn {
  width: 100%;
  background: rgb(0,60,82);
  background: linear-gradient(0deg, rgba(0,60,82,1) 0%, rgba(75,143,167,1) 60%, rgba(174,219,235,1) 100%);
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  color: rgb(240,240,240,.9);
  padding: 3%;
}

.portfolioImg {
  max-height: 500px;
  max-width: 50%;
  border-radius: 15px;
}

.email {
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  p {
    word-break: break-all;
  }
  .container {
    max-width: 90%;
  }
}